@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&family=Sen&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

header {
  background: #FEF8F1;
  position: sticky;
  top: 0;
  z-index: 9999;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
}
header nav .menu {
  justify-content: space-around;
  width: 55%;
  display: flex;
  padding-left: 25px;
  gap: 20px;
  font-family: "Sen";
}
@media screen and (max-width: 900px) {
  header nav .menu {
    display: none;
  }
}
header nav .menu a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
header nav .menu a:hover {
  color: rgb(255, 170, 0);
}
header nav .menu a li {
  font-size: 0.95rem;
  list-style: none;
  font-weight: 800;
}
header nav .faBar {
  display: none;
  color: #000;
}
@media screen and (max-width: 900px) {
  header nav .faBar {
    display: inline-block;
  }
}

.heroSection {
  width: 100%;
  height: 87vh;
  color: #fff;
  background-image: url("https://www.himalayanjava.com/img/banner/new-home-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection .text {
  width: 32%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .heroSection .text {
    width: 85%;
  }
}
.heroSection .text h1 {
  font-size: 4rem;
  font-family: "Dancing Script";
}
@media screen and (max-width: 600px) {
  .heroSection .text h1 {
    font-size: 2.5rem;
  }
}
.heroSection .text p {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .heroSection .text p {
    font-size: 1rem;
  }
}
.heroSection .text p:nth-child(5) {
  margin-bottom: 3rem;
}
.heroSection .text .learn {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Sen";
  font-weight: 500;
  text-decoration: none;
  border: 1px solid white;
  box-shadow: inset 0 0 0 0 #fff;
  padding: 15px 60px;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 600px) {
  .heroSection .text .learn {
    font-size: 1rem;
  }
}
.heroSection .text .learn:hover {
  color: #000;
  box-shadow: inset 250px 0 0 0 #fff;
}

.services {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services .items {
  padding: 20px 60px;
  width: 300px;
  height: 300px;
  text-align: center;
}

.coffeeNear {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-align: center;
}
.coffeeNear img {
  width: 100%;
  opacity: 0.3;
}
.coffeeNear div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  position: absolute;
  z-index: 111;
  height: -moz-min-content;
  height: min-content;
}
.coffeeNear div h1 {
  font-family: "Dancing Script";
  font-size: 4rem;
}
.coffeeNear div p {
  padding: 0;
  margin: 0;
}
.coffeeNear div p:nth-child(4) {
  margin-bottom: 20px;
}
.coffeeNear div .findUs {
  font-size: 1rem;
  text-transform: uppercase;
  color: #4D332F;
  font-family: "Sen";
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #4D332F;
  box-shadow: inset 0 0 0 0 #fff;
  padding: 15px 60px;
  transition: all 0.4s ease-in-out;
}
.coffeeNear div .findUs:hover {
  color: #fff;
  box-shadow: inset 250px 0 0 0 #4D332F;
}

#footer {
  height: 75vh;
  width: 100%;
  text-align: center;
  background: #000;
  color: #fff;
  padding-top: 3rem;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */